# Workspace
.vscode

# Makefiles
makefile
makefile copy

# dependency files
# *.d

# Output and Binaries
bin
tools
# *.slo
# *.lo
# *.o
# *.obj
# *.hex
# *.lst
# *.elf
# *.a
# *.sym

# Project Notes
notes.md
diagram.md

commandprocessing.h
# Not what you think
ardupilot-copy.h 
